* {
    margin: 0;
    padding: 0;
}

body {
    color: #EEEEEE;
    background-color: #1a1919;
    font-family: Verdana;
    padding: 0px 120px;
    overflow-x: hidden;
}

#start {
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px #EEEEEE solid; */
}

#startBnt {
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-weight: bold;
    color: #EEEEEE;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px #EEEEEE solid;
}

#main {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 280px;
    border: 1px #EEEEEE solid;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 40px 12px;
    padding: 12px;
    height: 80vh;
    text-align: center;
}

#menu p {
    margin-bottom: 8px;
}

#bag {
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    padding-top: 8px;
    margin-top: 16px;
}

#bag_list {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bag_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 4px 12px;
    margin: 0 16px;
    list-style: none;
}

#bag_list.use {
    border: 1px solid;
    padding: 4px;
    list-style: none;

}

.btn {
    font-size: 18px;
    width: 50%;
    padding: 12px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    margin: 8px auto;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px rgba(255, 255, 255, 1) solid;

}

#content {
    min-width: 250px;
    width: 840px;
    margin: 40px auto;
    padding: 8px;
}

#text p,
#tip p,
#action p {
    line-height: 1.5;
}

#text p,
#tip p,
#action p {
    margin-bottom: 28px;
}



/* 淡入淡出 */
.fadeOut {
    opacity: 1;
    transition: opacity 0.1s ease-out;
    /* 定义渐隐动画的持续时间和缓动函数 */
}

.hidden {
    opacity: 0;
}

.link {
    cursor: pointer;
    color: #5888dd;
    line-height: 1.75;
}

.link:hover {
    text-decoration: underline;
}

.gold {
    color: #ffd700;
}

.red {
    color: #ec3535;
}

.green {
    color: #38b20a;
}

/* 存檔讀檔 */

#saveFile,
#readFile {
    margin: 12px;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    padding: 20px;
}

.fileBtn {
    padding: 8px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
}

.fileBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px rgba(255, 255, 255, 1) solid;

}

/* 彈窗 */
dialog {
    width: 320px;
    height: 460px;
    color: #EEEEEE;
    margin: 160px auto;
    padding: 16px;
    background-color: #444444;
    border: 1px #EEEEEE solid;
    text-align: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* bar */
.bar_container {
    border: 1px #EEEEEE solid;
    height: 12px;
    margin: 0 16px 20px;
    overflow: hidden;
}

.bar {
    height: 100%;
}

#hp_bar {
    width: 50%;
    background-color: #DD5555;
}

#exp_bar {
    width: 50%;
    background-color: #98cc41;
}

/* buy */

.buy_item {
    width: 100%;
    padding: 4px;
    margin: 8px;
    border: 1px #EEEEEE solid;
    line-height: 1.5;
}

/* 圖片抖動 */
.shake-container {
    position: relative;
    left: 45%;
    display: inline-block;
}

.shake-image {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}